@using Demo.Web.Framework.HtmlHelpers

@foreach (var prop in ViewData.ModelExplorer.Properties.Where(p => p.Metadata.ShowForEdit && !ViewData.TemplateInfo.Visited(p)))
{
    if (prop.Metadata.IsComplexType)
    {
        <h4>@Html.DisplayName(prop.Metadata.PropertyName)</h4>
        @Html.Editor(prop.Metadata.PropertyName)
    }
    else
    {
        @(prop.Metadata.HideSurroundingHtml ? Html.Editor(prop.Metadata.PropertyName) : Html.FormGroup(prop.Metadata.PropertyName))
    }
}
